
header {
	background-image: url("../img/yuaSHORT.mp4");
}
header .header-content .header-content-inner h1 {
	font-family: Georgia;
	color: white;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: white;
  font-size: 16px;
  margin-bottom: 50px;
  font-family: 'Titillium Web', sans-serif;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #5F9EA0;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #5F9EA0;
  }

/*@media (min-width: 768px) {
.navbar-default .navbar-header .navbar-brand {
    color: #5F9EA0;
    }*/
/*@media (min-width: 768px) {}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
    color: #5F9EA0;
    }*/

    .section-heading {
      font-family: Georgia;
      color: #5F9EA0;

    }

    .underline {
     border-color: white;
   }

   .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #5F9EA0;
    background-color: blanchedalmond;
    border-color: #ed431f;
  }

  .section-heading2 {
   font-family: Georgia;
   color: blanchedalmond;
 }
 hr.light {
  border-color: blanchedalmond;
}
.text-faded {
  color: blanchedalmond;
  font-family: 'Titillium Web', sans-serif;
}

.btn-primary {
	background-color: #5F9EA0;
	color: blanchedalmond;

}
.btn-default {
	color:#5F9EA0;
  background-color: blanchedalmond;
}

.row {
	background-color: #5F9EA0;
}
.bg-primary {
	background-color: #5F9EA0;
}

.bk-services {
	background-color: white;
	padding-top: 50px;
	padding-bottom: 150px;

}
.container2 {
	background-color: white;
}

.row2 {
	background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bk-services {
  text-align: center;
}
.servicebox {
  text-align: center;
}

.row1 {
	background-color: white;
}

#services {
  text-align: center;
}

.section-heading3 {
	color: #5F9EA0;
}

.primary2 {
	border-color: #5F9EA0;
}

.text-primary {
  color: #5F9EA0;
}


.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
  color: white!important;
  background-color: transparent;
}

.navbar-default.affix .nav>li>a:hover {
  color: white;
}

#contact {
 background-color: #5F9EA0;
 font-family: 'Titillium Web', sans-serif;
 color: blanchedalmond;
}
.portfolio-box .portfolio-box-caption {
	background-color: rgba(95, 158, 160,.5);
}


.primary4 {
	border-color: blanchedalmond;
}
a {
  color: blanchedalmond;
}

a:hover {
  color: black;
  a:focus {
    color: black;
  }

  iframe {
    max-width: 100%;
  }

/*#mainNav {
  color:#5F9EA0;
  }*/

  .colorheader {
    background-color: white;
  }

 